<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源网</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>



<div id="container">
    <div id="header">
        <p>	<img src="../static/images/banner1 (2).jpg"></p>
        <div id="icon-list">
            <a href="/logout"><img src="../static/images/th.jpg"/></a><a href="#"><p th:text="'hi, ' + ${tname} + '!'" /></a>
        </div>
    </div>

    <div id="nav">
        <p>
            <a href="/tomyblogt">个人主页</a>|
            <a href="/showjingping">精品课程</a>|
            <a href="QueryByClick">课程查询</a>|
            <a href="/opennewcour">申请开课</a>|
            <a href="/tomanagement">管理课程</a>|

        </p>
    </div>

    <div id="main">
        <div id="aside">
            <h2>今日推荐教师</h2>
            <table >
                <p>liping  擅长.net全栈开发</p>
                <p>siiiim  擅长python数据挖掘方向</p>
                <p>koem   在爬虫与反爬虫领域颇有建树</p>
                <p>diango   django网页开发方面专家</p>
            </table>
            <div id="imglist">
                <div class="polaroid rotate_left">
                    <img src="../static/images/1.jpg"  />
                </div>

                <div class="polaroid rotate_right">
                    <img src="../static/images/2.jpg"  />
                </div>
                <div class="polaroid rotate_left">
                    <img src="../static/images/3.jpg"  />
                </div>

                <div class="polaroid rotate_right">
                    <img src="../static/images/4.jpg"  />
                </div>
            </div>



        </div>


        <div id="content">
            <div class="subcont">
                <img src="../static/images/1.jpg" >
                <div class="subtext">
                    <h2>liping</h2>
                    <p>.net全栈开发讲师，五年.net开发经验</p>
                </div>
            </div>
            <div class="subcont">
                <img src="../static/images/2.jpg" >
                <div class="subtext">
                    <h2>sliiiim</h2>
                    <p>擅长数据挖掘，高级数据分析师</p>
                </div>
            </div>
            <div class="subcont">
                <img src="../static/images/3.jpg" >
                <div class="subtext">
                    <h2>koem</h2>
                    <p>教学由浅入深，由基本re-bs4到深入的scrapy异步爬虫框架开发</p>
                </div>
            </div>
            <div class="subcont">
                <img src="../static/images/4.jpg" >
                <div class="subtext">
                    <h2>diango</h2>
                    <p>擅长django框架下网页敏捷开发</p>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <p>diango版权 2019-2020</p>
    </div>
</div>


<div class="container_in" >
    <div class="box">
        <div class="top box-page"></div>
        <div class="bottom box-page"></div>
        <div class="left box-page"></div>
        <div class="right box-page"></div>
        <div class="before box-page"></div>
        <div class="after box-page"></div>
    </div>
</div>
<script type="text/javascript" src="../static/js/mofang.js"></script>
</body>
</html>