<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>log</title>
		<link rel="stylesheet" type="text/css" href="../static/css/log.css" />
	</head>
	<body>
      	<form name="form1" action="imgvrifyControllerDefaultKaptcha" method="post">
     		 <h1>高校资源管理系统</h1>
            <input class=input_1 id=username size=15  name="id"  placeholder=ID><br />
          	<input class=input_1 id=password type=text size=15 name="password" placeholder=密码><br />
            <input class=input_1 id=yzm type=text size=10 name="tryCode" placeholder=验证码><br />
            <img alt="验证码" onclick="this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" /><br />

  	 		<span class="radio_box">
               <input type="radio" id="radio_1" name="gettype" value="student"  checked>
               <label for="radio_1"></label>
              学生
        	</span>
        	<span class="radio_box">
               <input type="radio" id="radio_2" name="gettype" value="teacher" >
               <label for="radio_2"></label>
              老师
        	</span>
    		<span class="radio_box">
               <input type="radio" id="radio_3" name="gettype" value="admin">
               <label for="radio_3"></label>
               管理员
       		</span><br/>
            <input class=input_3 type="button" onclick="login()" value="登录" />
            <input class=input_3 type="button"  onclick=document.form1.reset() value="重置" />
            <a href="/register"><input class=input_3 type="button"   value="注册" /> </a>
     	</form>
        <script type="text/javascript" src="../static/js/script.js"></script>
  </body>
</html>
