<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源网</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>



<div id="container">
    <div id="header">
        <p>	<img src="../static/images/banner1 (2).jpg"></p>
        <div id="icon-list">
            <img src="../static/images/th.jpg"/><a href="#" th:text="'hi, ' + ${sname} + '!'">登录</a>
        </div>
    </div>

    <div id="nav">
        <p>
            <a href="#">首页</a>|
            <a href="#">精品课程</a>|
            <a href="/QueryByClick">课程查询</a>|

        </p>
    </div>

    <div id="main">
        <div id="aside">
            <h2>今日推荐教师</h2>
            <table >
                <p>liping  擅长.net全栈开发</p>
                <p>siiiim  擅长python数据挖掘方向</p>
                <p>koem   在爬虫与反爬虫领域颇有建树</p>
                <p>diango   django网页开发方面专家</p>
            </table>
            <div id="imglist">
                <div class="polaroid rotate_left">
                    <img src="../static/images/1.jpg"  />
                </div>

                <div class="polaroid rotate_right">
                    <img src="../static/images/2.jpg"  />
                </div>
                <div class="polaroid rotate_left">
                    <img src="../static/images/3.jpg"  />
                </div>

                <div class="polaroid rotate_right">
                    <img src="../static/images/4.jpg"  />
                </div>
            </div>



        </div>


        <div id="content">
            <div id=querynav style="background: #0099CC; padding:15px 10px">
                <a class="blue btn" href="query1.html">精确查询</a>
                <a class="magenta btn" href="/QueryByClick">热点推荐</a>
                <a class="red btn" href="/QueryByTime">最新推荐</a>
                <a class="orange btn" >标签分类</a>
            </div>
            <div class="query">

                <p align="center">课程标签</p>
                <p align="center" ><a th:each="qbLabel:${qbLabels}" th:text="${qbLabel}" th:href="@{QueryByLabel(Label=${qbLabel})}"></a></p>
            </div>
        </div>
    </div>

    <div id="footer">
        <p>李伟捷hhhhhhhh版权 2019-2020</p>
    </div>
</div>


</body>
</html>